* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: auto;
    background-color: rgb(0, 130, 255);
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.main {
    width: 45vh;
    height: 55vh;
    background-color: white;
    border-radius: 1vh;
}

.upload_form {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 90%;
    height: 30vh;
}

#file::-webkit-file-upload-button {
    visibility: hidden;
    overflow: hidden;
}

input[type="file"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-emphasis: none;
    overflow: hidden;
}

.uploadbtn {
    width: 90%;
    border: 0;
    outline: none;
    background-color: rgb(255, 105, 0);
    border-radius: 1vh;
    color: white;
    font-size: 100%;
    height: 4vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}